$green: green;
$yellow:yellow;
$red:red;

@mixin margenes($top, $bottom){

    margin-top: $top;
    margin-bottom: $bottom;
}

.jumbotron{
    background-color:$red ;
    color:white;
    @include margenes(50px,0);
   }
   
   footer{
       padding: 10px 10px 0 10px;
       background-color:blue;
       color: white;
   
       margin-bottom: 0px;
       margin-top:90px ;
   }
   .card-hotel{
       flex: 1 150px;
       padding: 2px 5px 2px 5px;
       height: 100%;
   }
   .btn-more{
       width: 100%;
   }
   .footer-address-icon{
       padding-right:10px ;
   }
   .img-banner{
       padding-bottom:10px ;
       width: 80%;
       margin-left: 10%;
   }
   .tab-content{
       padding-top: 10px;
   }